<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->

                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a routerLink="/" class="active">Home</a></li>
                        <li><a (click)="routerShop()">Our Shop</a></li>
                        <li><a class="cart" routerLink="cart">Cart</a>
                            @if (total>0) {
                            <span class="quantity">{{total}}</span>
                            }
                        </li>
                        @if (inforUser) {
                        <div class="dropdown">
                            <li><a class="dropdown-toggle " role="button"
                                    style="display: flex;align-items: center;">{{inforUser.name}}<img [src]="urlImage"
                                        style="margin-left: 10px; height: 25px;width: 25px;border-radius: 50%;"
                                        alt=""></a>
                                <ul class="dropdowr">
                                    <li class="dropdown-item"><button routerLink="/myInfor" class="btn w-100 h-100">My
                                            Info</button>
                                    </li>
                                    <li class="dropdown-item"><button routerLink="/myOrder" class="btn w-100">My
                                            Order</button>
                                    </li>
                                    <li class="dropdown-item"><button (click)="logOut()"
                                            class="btn w-100">LogOut</button></li>
                                </ul>
                            </li>
                        </div>
                        }@else {

                        <li><a routerLink="/login">Sign In</a></li>
                        }
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>