<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div>
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Card</h3>
                    <p class="text-subtitle text-muted">Bootstrap’s cards provide a flexible and extensible
                        content
                        container with multiple variants and options.</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/admin">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">View Item</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Basic card section start -->
        <section id="content-types">
            <div class="row">

                <div class="col-md-6 col-sm-12 mx-auto mt-4">
                    <div class="card">
                        <div class="card-content">
                            <img class="card-img-top img-fluid" [src]="handleImage(data.image)" alt="Card image cap"
                                style="height: 20rem" />
                            <div class="card-body">
                                <h4 class="card-title">Information of id {{data.id}}</h4>

                                <p class="card-text">
                                    Name: {{data.name}}
                                </p>
                                <p class="card-text">
                                    Email: {{data.email}}
                                </p>
                                <p class="card-text">
                                    Phone Number: {{data.phone_number}}
                                </p>
                                <button (click)="handldeBack()" class="btn btn-primary block">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Basic Card types section end -->


    </div>
</div>