<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Success</h3>
                <span class="breadcrumb"><a routerLink="/home">Home</a> > Success</span>
            </div>
        </div>
    </div>
</div>
<div class="wrapper mt-5">
    <div class="card ">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✓</i>
        </div>
        <h1>Success</h1>
        <p>Bạn đã đặt sân thành công<br /> Hãy đến đúng giờ để không bỏ lỡ những giây phút hết mình với bóng đá</p>
    </div>
    <div class="mt-4">
        <button class="btn btn-success" routerLink="/home">Back home</button>
    </div>
</div>