<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Our Shop</h3>
                <span class="breadcrumb"><a routerLink="/home">Home</a> > Our Shop</span>
            </div>
        </div>
    </div>
</div>

<div class="section trending">
    <div class="container">
        <div class="row">
            <div class="search-bar mb-4 p-3 border rounded"
                style="background: url('images/grass-bg.jpg') center/cover no-repeat;">
                <form class="d-flex align-items-center">
                    <!-- Football Icon -->
                    <div class="football-icon me-2">
                        <img src="images/soccer-ball.png" alt="Football" width="40" height="40">
                    </div>
                    <!-- Search Input -->
                    <input type="text" [(ngModel)]="filter.name" name="search" class="form-control me-2"
                        placeholder="Search for a field or team..." aria-label="Search">
                    <!-- Search Button -->
                    <button (click)="searchName()" class="btn btn-success" type="submit">
                        <i class="fa fa-search"></i> Search
                    </button>
                </form>
            </div>

        </div>
        <div class="row ">
            <!-- Filter Column -->
            <div class="col-lg-3 col-md-12 mb-30 filter-box">
                <div class="filter-content p-4 border rounded bg-light">
                    <h4 class="mb-3 text-center">⚽ Filter Options</h4>
                    <div class="filter-content p-4 border rounded"
                        style="background: url('/images/grass-bg.jpg') center/cover no-repeat;">
                        <form>
                            <!-- Filter by Category -->
                            <div class="form-group mb-3">
                                <label for="category" class="text-black">🏆 <br>Category</label>
                                <select id="category" name="typeField" [(ngModel)]="filter.typeField"
                                    class="form-control">
                                    <option value="">All Fields</option>
                                    <option value="1">Sân có nhân tạo</option>
                                    <option value="2">Sân cỏ tự nhiên</option>
                                </select>
                            </div>

                            <!-- Filter by Field Type -->
                            <div class="form-group mb-3">
                                <label for="fieldType" class="text-black">🏟️ <br>Capacity</label>
                                <select id="fieldType" name="capacity" [(ngModel)]="filter.capacity"
                                    class="form-control">
                                    <option value="">All Capacities</option>
                                    <option value="1">5v5</option>
                                    <option value="2">7v7</option>
                                    <option value="3">11v11</option>
                                </select>
                            </div>

                            <!-- Filter by Time Slot -->
                            <div class="form-group mb-3">
                                <label for="timeSlot" class="text-black">⏰ <br>Time Slot</label>
                                <select id="timeSlot" name="timeSlot" [(ngModel)]="filter.timeFrame"
                                    class="form-control">
                                    <option value="">All Time Slots</option>
                                    <option value="06:00-12:00">Morning (6:00 - 12:00)</option>
                                    <option value="12:01-18:00">Afternoon (12:00 - 18:00)</option>
                                    <option value="18:01-23:00">Evening (18:00 - 23:00)</option>
                                </select>
                            </div>

                            <!-- Filter by Price Range -->
                            <div class="form-group mb-3">
                                <label class="text-black">💰<br> Price Range</label>
                                <div class="d-flex justify-content-start align-items-center mb-3">
                                    <input id="price1" name="a" type="checkbox" [value]="'0-200000'"
                                        (change)="onPriceChange($event)" />
                                    <label for="price1">0-200k</label>
                                </div>
                                <div class="justify-content-start d-flex align-items-center mb-3">
                                    <input id="price2" type="checkbox" name="b" [value]="'200000-500000'"
                                        (change)="onPriceChange($event)" />
                                    <label for="price2">200k-500k</label>
                                </div>
                                <div class="d-flex justify-content-start align-items-center mb-3">
                                    <input id="price3" name="c" type="checkbox" [value]="'500000-700000'"
                                        (change)="onPriceChange($event)" />
                                    <label for="price3">500k-700k</label>
                                </div>
                                <div class="d-flex justify-content-start align-items-center mb-3">
                                    <input id="price4" type="checkbox" name="d" [value]="'700000-999999999999'"
                                        (change)="onPriceChange($event)" />
                                    <label for="price"> > 700k</label>
                                </div>
                            </div>



                            <!-- Sort By -->
                            <div class="form-group mb-3">
                                <label for="sortBy" class="text-black">🔄<br> Sort </label>
                                <select id="sortBy" name="sort" [(ngModel)]="filter.sort" class="form-control">
                                    <option value="">Unsort</option>
                                    <option value="asc">ASC</option>
                                    <option value="desc">DESC</option>
                                </select>
                            </div>

                            <!-- Apply Filter Button -->
                            <button (click)="handleFilter()" type="button" class="btn btn-success w-100">
                                <i class="fa fa-filter"></i> Apply Filter
                            </button>
                        </form>
                    </div>
                </div>

            </div>

            <!-- Items Column -->

            <div class="col-lg-9 col-md-12">
                @if (list_football_fields.data.length >0) {
                <div class="row">
                    <!-- Product Card -->
                    @for (item of list_football_fields.data; track $index) {
                    <div class="col-lg-4 col-md-6 mb-30 trending-items">
                        <div class="item border  overflow-hidden">
                            <div class="thumb position-relative">
                                <a (click)="navigateFootballDetail(item.id)"><img class="image"
                                        src="{{urlImage}}/{{item.image}}" alt=""></a>

                            </div>
                            <div class="down-content p-3">
                                <span class="category">Trạng thái: <strong
                                        [ngClass]="item.status ? 'highlight' : 'normal'">
                                        @if (item.status) {
                                        Còn sân
                                        }@else {
                                        Hết sân
                                        }</strong></span>
                                <h4>{{item.name}}</h4>
                                <p>{{item.shortDes}}</p>
                                <div>
                                    <h5 class="custom">{{item.price | currency:'VND':'code'}}/giờ</h5>
                                    <a class="d-block" (click)="navigateFootballDetail(item.id)"><i
                                            class="fa fa-shopping-bag"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>}

                    <div class="col-lg-12">
                        <ul class="pagination">
                            @if (filter.page!= 1) {
                            <li><a (click)="Back()"> &lt; </a></li>
                            }

                            @for (item of totalPage; track $index) {
                            <li (click)="isActive($index+1)"><a
                                    [ngClass]="filter.page == $index+1 ? 'is_active' : ''">{{$index+1}}</a>
                            </li>
                            }
                            @if (filter.page != totalPage.length ) {
                            <li><a (click)="Next()"> &gt; </a></li>
                            }

                        </ul>
                    </div>

                </div>
                }@else {
                <h3 class="text-center">Không tồn tại sản phẩm phù hợp</h3>
                }
            </div>

        </div>
    </div>
</div>